.word__container {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.letter__container {
  border-bottom: 0.1em solid black;
}

@media only screen and (max-width: 600px) {
  .word__container {
    font-size: 4rem;
  }
}
