.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.right__arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -100px;
  rotate: -30deg;
  transform-origin: left bottom;
}

.left__arm {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: 10px;
  rotate: 30deg;
  transform-origin: right bottom;
}

.right__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: -90px;
  rotate: 60deg;
  transform-origin: left bottom;
}

.left__leg {
  width: 100px;
  height: 10px;
  background: black;
  position: absolute;
  top: 210px;
  right: 0;
  rotate: -60deg;
  transform-origin: right bottom;
}

.drawing__container {
  position: relative;
}

.line__one {
  height: 50px;
  width: 10px;
  background: black;
  margin-left: 120px;
  position: absolute;
  top: 0;
  right: 0;
}

.line__two {
  height: 10px;
  width: 200px;
  background: black;
  margin-left: 120px;
}

.line__three {
  height: 400px;
  width: 10px;
  background: black;
  margin-left: 120px;
}

.line__four {
  height: 10px;
  width: 250px;
  background: black;
}

@media only screen and (max-width: 600px) {
  .right__arm {
    width: 65px;
    right: -65px;
  }
}